.navbar{
    background-color: #001428;
    color: #c6c6c6;
    padding: 2rem;
    margin-bottom: 5rem;
  }


.dropdown-header{
  background-color: #ffffff;
  color: #001428;
  font-weight: bold;
  transition: .5s;
}




body {
  
  margin: 0;
  display: flex;
  place-items: center;
}

h1 {
  font-size: 3.2em;
  line-height: 1.1;
}

button {
  border-radius: 8px;
  border: 1px solid transparent;
  padding: 0.6em 1.2em;
  font-size: 1em;
  font-weight: 500;
  font-family: inherit;
  
  cursor: pointer;
  transition: border-color 0.25s;
}

button:focus,
button:focus-visible {
  outline: 4px auto -webkit-focus-ring-color;
}



.contenedor-app {
  width: 100vw;
  height: 100vh;
}
.item-list {
  padding: 1rem;
  list-style: none;
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 1rem;
  border-radius: 1rem;
}
.item-list li {
  background: #001428;
  color: white;
  padding: 1rem;
  cursor: pointer;
  border-radius: 10% / 50%;

}

.buy{
    padding: 11px 30px;
    color: white;
    font-size: 14px;
    cursor: pointer;
    transition: 1s, color 0.3s, transform 0.3s;
    border-radius: 10px;
  color: #ffffff;
  background-color:#01162c ;
}

.addCart{
  padding: 13px 20px;
  color: white;
  font-size: 14px;
  cursor: pointer;
  transition: 1s, color 0.3s, transform 0.3s;
  border-radius: 10px;
  color: #ffffff;
  background-color: #0b0909;
}